{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<!-- Slideshow section -->

<section id="intro">
    <div class="slideshow-container h-100">
        <div class="container mySlide h-100 m-auto" id="intro-image-1">
            <div class="row h-100 align-items-end justify-content-center">
                <div class="col-6 text-center">
                    <br>
                    <h3 class="display-3">The SCP Archives</h3>
                </div>
                <div class="w-100"></div>
                <div class="col-6 pb-4 intro-text text-center">
                    <h6>The collaborative phenomenon of the SCP Foundation presented finally in stores</h6>
                </div>
            </div>
        </div>

        <div class="container mySlide h-100 m-auto" id="intro-image-2">
            <div class="row h-100 align-items-end justify-content-center">
                <div class="col-6 text-center">
                    <br>
                    <h3 class="display-3">The SCP Archives</h3>
                </div>
                <div class="w-100"></div>
                <div class="col-6 pb-4 intro-text text-center">
                    <h6>The collaborative phenomenon of the SCP Foundation presented finally in stores</h6>
                </div>
            </div>
        </div>

        <div class="container mySlide h-100 m-auto" id="intro-image-3">
            <div class="row h-100 align-items-end justify-content-center">
                <div class="col-6 text-center">
                    <br>
                    <h3 class="display-3">The SCP Archives</h3>
                </div>
                <div class="w-100"></div>
                <div class="col-6 pb-4 intro-text text-center">
                    <h6>The collaborative phenomenon of the SCP Foundation presented finally in stores</h6>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="row" id="introduction">
    <hr class="col-6 offset-3">
</div>

<section>
    <div class="container h-100">
        <div class="row h-100 align-items-end justify-content-center">
            <div class="text-center col-10 py-4">
                <h3>The intricate SCP universe like you have never seen before</h3>
            </div>
            <div class="w-100"></div>
            <div class="col-10 my-auto">
                <p>Originally launched 13 years ago the SCP universe have been growing and evolving thanks to the
                    collaboration and cooperation of writers around the world, with more than five thousand articles the
                    SCP universe have become one project of it’s own kind.</p>

                <p>From all types of supernatural stories, combining interdimensional creatures, aliens, lovecraftian
                    themes or other tales that make us think about the very basic human nature the SCP foundation has
                    something for everyone.</p>

                <p>The impact in pop culture is also one the biggest achievements of this project, from video-games to
                    short movies the SCP universe expands itself to new territories, including (finally) books.</p>
            </div>
        </div>
    </div>
</section>

<div class="row" id="shop_access">
    <hr class="col-6 offset-3">
</div>

<section>
    <div class="container h-100">
        <div class="row h-100 justify-content-center">
            <div class="col-10 col-md-10">
                <h3 class="logo-font text-center text-black pb-2 mx-auto">
                    The SCP universe finally in your bookcase
                </h3>
            </div>
            <div class="w-100"></div>
            <div class="col-10 m-auto">
                <p>
                    The first stories that will be publishing are Volume 1 (The SCP Foundation) and Volume 2 (The
                    G.O.C. Chronicles).</p>

                <p> Volume 1 is an introduction dedicated to those that already know the SCP universe but want to have a
                    better understanding of what the SCP Foundation is, its procedures and the different terminology
                    generally used in the universe.</p>

                <p> Volume 2 is the first of the books dedicated to one of the organizations that live alongside the
                    Foundation. The Global Occult Coalition (G.O.C) is presented as the opposite side of the same coin,
                    both organizations have the same objective protect humankind. But while the Foundation thinks that
                    is better to Secure, Contain and Protect any anomaly to study it, the G.O.C. has usually a more
                    direct approach to the situation, shoot first ask question later.</p>

                <p> And this is just the begging, coming soon news volumes will be released.
                    We think that some stories would make more sense released in compilations, but there are also some
                    articles that deserver their own books. For now we leave which one will be the next to your
                    imagination...</p>
                </p>
            </div>
            <div class="w-100"></div>
            <div class="col-12 my-5 mx-auto text-center">
                <h4>
                    <a href="{% url 'products' %}"
                        class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Access the
                        Archives</a>
                </h4>
            </div>
        </div>
    </div>
</section>

<script src="{% static 'js/slideShow.js' %}"></script>

{% endblock %}