<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a href="{% url 'home' %}" class="logo-font font-weight-bold nav-link text-black mr-5" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'home' %}" class="logo-font font-weight-bold nav-link text-black mr-5" id="all-products-link" aria-haspopup="true" aria-expanded="false">
                The SCP Foundation
            </a>            
        </li>
        <li class="nav-item">
            <a href="" class="logo-font font-weight-bold nav-link text-black mr-5" id="clothing-link" href="#"
                aria-haspopup="true" aria-expanded="false">
                What are the SCP Archives
            </a>            
        </li>
        <li class="nav-item">
            <a href="" class="logo-font font-weight-bold nav-link text-black mr-5" id="homeware-link" href="#"
                aria-haspopup="true" aria-expanded="false">
                Buy the books
            </a>            
        </li>
        <li class="nav-item">
            <a href="" class="logo-font font-weight-bold nav-link text-black mr-5" id="specials-link" href="#"
                aria-haspopup="true" aria-expanded="false">
                The SCP Wiki
            </a>            
        </li>
    </ul>
</div>